
<p><b>Tezaurus Rex</b>, ili odmilja - Rex, nadareni je dinosaur koji svoju sposobnost učenja koristi kako bi
stvorio što više značenjskih poveznica između različitih riječi. Rezultat njegovog napornog rada je servis 
<a href="/">tezaurus</a> - prvi online rječnik sinonima hrvatskog jezika.</p>


<br><br><br><br><br><br>
<div class="icons">
<div class="halfs"><center><%= image_tag('book_128.png') %></center><br>Rječnik trenutno sadrži više od 58.000
	različitih riječi te preko 700.000 značenjskih poveznica između tih riječi. Broj novih riječi i poveznica
	svakoga dana je sve veći, a učestalost njegova korištenja u tome uvelike pomaže.</div>
	
<div class="halfs"><center><%= image_tag('glasses_128.png') %></center><br>Rex digitalizira, obrađuje i čita postojeće
baze sinonima, nadograđuje ih pametnim povezivanjem informacija koje su u njima sadržane, inteligentno 
pretražuje klasične internetske rječnike kako bi našao nove poveznice na postojeće riječi ili potpuno
nove riječi koje prije nije poznavao.</div>

<div class="halfs"><center><%= image_tag('dinosaur_128.png') %></center><br>Servis je trenutno 
u Alpha verziji, pa se ponegdje rezultati ne podudaraju s traženom riječi ili se pogrešno uneseni. Nakon funkcionalne verzije, u planu su i razne nadogradnje poput dodavanja definicija riječi, grafičkog
pregleda rezultata i sličnog.</div>

<div class="halfs"><center><%= image_tag('recycling_128.png') %></center><br>Rex je obziran dinosaur koji brine o 
svome okruženju, pa algoritme učenja (npr. iz drugih internetskih rječnika) koristi na <a href="http://en.wikipedia.org/wiki/Web_crawler#Politeness_policy" target="_blank">
pristojan način</a>.</div>
</div>