<div class="pages">
<p><b>Tezaurus Rex</b>, ili odmilja - Rex, nadareni je dinosaur koji svoju sposobnost učenja koristi kako bi
stvorio što više značenjskih poveznica između različitih riječi. Rezultat njegovog napornog rada je servis 
<a href="/">tezaur.us</a> - prvi online rječnik sinonima hrvatskog jezika.</p>
</div>

<br><br><br><br><br><br>
<div class="icons">
<div class="thirds"><center><%= image_tag('book_128.png') %><br>Rječnik trenutno sadrži više od 58.000
	različitih riječi te preko 700.000 značenjskih poveznica između tih riječi. Broj novih riječi i poveznica
	svakoga dana je sve veći, a učestalost njegova korištenja u tome uvelike pomaže.</center></div>
	
<div class="thirds"><center><%= image_tag('glasses_128.png') %><br>Rex digitalizira, obrađuje i čita postojeće
baze sinonima, nadograđuje ih pametnim povezivanjem informacija koje su u njima sadržane, inteligentno 
pretražuje klasične internetske rječnike kako bi našao nove poveznice na postojeće riječi ili potpuno
nove riječi koje prije nije poznavao.</center></div>

<div class="thirds"><center><%= image_tag('dinosaur_128.png') %><br>Servis je trenutno 
u Alpha verziji, što znači da se ponegdje rezultati ne podudaraju s traženom riječi ili da neki unosi zahtijevaju
ispravke. Nakon potrebnih ispravaka, u planu su i razne nadogradnje poput dodavanja definicija riječi, grafičkog
pregleda rezultata i sličnog.</center></div>
