<div class="pages"><br><br>
	<p align="center">Autor projekta: <a href="http://hr.linkedin.com/in/tomislavlukinic/" target="_blank">Tomislav Lukinić</a> (<a href="http://twitter.com/tlukinic" target="_blank">@tlukinic</a>)</p>
	<p align="center"> E-mail za upite: <a href="mailto:info@tezaurus.co">info@tezaurus.co</a></p>
</div>
