/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

a > img:hover { background: transparent; }

ul.navigation {
list-style: none;
margin: 0;
padding: 7px 0;
font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
font-size: 16px;
text-align: center;
white-space: nowrap;
bottom: 0;
border-width: 1px 0;
border-color: #ddd;
border-style: solid;
height: auto;
z-index: -1; 
}
ul.navigation li {
display: inline;
margin: 0 3px;
}
ul.navigation li.highlight a {
border-color: #F60;
font-weight: bold;
color:#0099FF;
}
ul.navigation a {
text-decoration: none;
padding: 0 0 2px;
border-bottom: 3px solid #FFF;
color: #999;
}
ul.navigation a:hover {
border-color: #F79422;
color: #666;
background-color: transparent;
}

body .container {    
	float:left;
	position: absolute;
	left:15%;
	right:15%;
	
}