/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300italic,300&subset=latin,latin-ext);

a > img:hover { background: transparent; }

body {
	font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
	font-size: 16px;
}

html, body {
      padding: 0;
      margin: 0;
      height: 100%;
}


h2 {
  font-size:20px;
  font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
  font-weight:normal;
  font-style:italic;
  margin-bottom:0;
  padding-bottom:7px;
}

ul.navigation {
list-style: none;
margin: 0;
padding: 7px 0;
font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
font-size: 16px;
text-align: center;
white-space: nowrap;
bottom: 0;
border-width: 1px 0;
border-color: #ddd;
border-style: solid;
height: auto;
z-index: -1; 
}
ul.navigation li {
display: inline;
margin: 0 3px;
}
ul.navigation li.highlight a {
border-color: #F60;
font-weight: bold;
color:#0099FF;
}
ul.navigation a {
text-decoration: none;
padding: 0 0 2px;
border-bottom: 3px solid #FFF;
color: #999;
}
ul.navigation a:hover {
border-color: #F79422;
color: #666;
background-color: transparent;
}

#page {
      min-height: 100%;
      position:relative;
}

 
#footer {
      position: fixed;
      width: 100%;
      bottom:0;
      height: 75px;  /* This value is the height of your footer */
      background-color: #00A;
}

#container {    
	float:left;
	position: absolute;
	left:15%;
	right:15%;
	padding-bottom: 75px;
}

.thirds {
    position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	width: 28%;
	display:block;
	float: left;
  }
  
.icons {
    position: relative;
    float: left;
    left:10%;
    right:10%;
    width:85%;
    
  }
 
  
.halfs {
    position: relative;
	padding-right: 15px;
	padding-left: 15px;
	width: 44%;
	display:block;
	float: left;
	margin-bottom: 50px;
  }
.pages {    
	float:left;
	position: absolute;
	padding-right: 25px;
	padding-left: 25px;
	left:7%;
    right:7%;
}
