// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-size:26px;
  font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
  font-weight:normal;
  margin-bottom:10px;
  padding-bottom:7px;
}